<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset='utf-8">
        <title>PhiloSophy-<%= title %>-</title>
        <link rel="stylesheet" href="/stylesheets/index.css">
        <link rel="icon" href="/icon/22299638.jpg">
    </head>
    <body>
        <a href="/home" id="su_back"><< 戻る</a>
        <div class="signup">
            <h2>アカウント情報の取得</h2>
            <%- result %>
            <form action="/home/check" method="post">
                <input type="text" name="su_mail" id="su_mail" placeholder="E-mail"><br>
                <ul id="set_order">
                    <li>Emailアドレスを入力して下さい</li>
                    <li>パスワード再設定用のメールが送られます</li>
                    <li>linkにアクセスして頂き、再設定を行って下さい</li>
                </ul>
                <input type="submit" value="送信" id="su_submit">
            </form>
        </div>
    </body>
</html>