<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset='utf-8'">
    <title>お問い合わせ</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div>
        <h1>ご意見・ご要望、その他お問い合わせ</h1>

        <form action="/faq" method="post">
            <input type="text" name="faq_title" id="faq_title" placeholder="タイトル(任意)"><br>
            <textarea name="faq" id="faq" cols="100" rows="20" placeholder="お問い合わせ本文(必須)"></textarea><br>
            <input type="submit" id="faq_submit" value="送信">
        </form>
        <a href="/home">&lt;&lt;Top</a><br>

    </div>
</body>
</html>